{% extends "default.html" %}

{% block title %}Login{% endblock%}
{% block navLinks %} <!-- Removing Navigation links --> {% endblock %}

{% block main %}
<section id="login_section">
    <div id="login_box">
        <form id="login_form">
            <table id="login_table">
                <tr>
                    <td><label for="username">Username: </label></td>
                    <td><input type="text" name="username" id="username"></td>
                </tr>
                <tr>
                    <td><label for="password">Password: </label></td>
                    <td><input type="password" name="password" id="password"></td>
                </tr>
            </table>
            <div id="login_submit_box">
                <button type="submit" class="submit_button">Submit</button>
            </div>
        </form>
        <br>
        <a>Need to create an account? Click Here!</a>
        <!--    Pseudo login button for developing purposes will remove-->
        <br>
        <button onclick="clickedLogin()">DEVELOPMENT SUBMIT</button>
    </div>

</section>

{% endblock %}